.socials {
  .social {
    &.one {
      .icon {
        fill: rgba(11,155,120,1);
      }
    }
    &.two {
      .icon {
        fill: rgba(39,136,84,1);
      }
    }
    &.three {
      .icon {
        fill: rgba(36,143,43,1);
      }
    }
    &.four {
      .icon {
        fill: rgba(35,135,139,1);
      }
    }
    &.five {
      .icon {
        fill: rgba(80,142,165,1);
      }
    }
  }
}

.internal-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  &.home-display-options {
    padding: 0;
    margin-bottom: 20px;
    }

    .button {
      &::after {
        display: block;
        bottom: auto;
        top: -12px;
        border-top: none;
        border-bottom: 12px solid #fff;
      }
    }
    .button-one,
    .button-0 {
      > button {
        &.active {
          background: linear-gradient(90deg, rgba(11,155,120,1) 0%, rgba(39,136,84,1) 100%, rgba(255,255,255,1) 0122024%);
          color: $black-blue;
          border: none;
          &::after {
            display: block;
            // border-bottom: 12px solid rgba(11,155,120,1);
            bottom: auto;
            top: -12px;
            border-top: none;
          }
        }
      }
    }
    .button-two,
    .button-1 {
      > button {
        &.active {
          background: linear-gradient(90deg, rgba(39,136,84,1) 0%, rgba(36,143,43,1) 100%, rgba(255,255,255,1) 0122024%);
          color: $black-blue;
          border: none;
          &::after {
            display: block;
            // border-bottom: 12px solid rgba(39,136,84,1);
            bottom: auto;
            top: -12px;
            border-top: none;
          }
        }
      }
    }
    .button-three,
    .button-2 {
      > button {
        &.active {
          background: linear-gradient(90deg, rgba(39,136,84,1) 0%, rgba(35,135,139,1) 100%, rgba(255,255,255,1) 0122024%);
          color: $black-blue;
          border: none;
          &::after {
            display: block;
            // border-bottom: 12px solid rgba(39,136,84,1);
            bottom: auto;
            top: -12px;
            border-top: none;
          }
        }
      }
    }
    .button-four,
    .button-3 {
      > button {
        &.active {
          background: linear-gradient(90deg, rgba(35,135,139,1) 0%, rgba(80,142,165,1) 100%, rgba(255,255,255,1) 0122024%);
          color: $black-blue;
          border: none;
          &::after {
            display: block;
            // border-bottom: 12px solid rgba(35,135,139,1);
            bottom: auto;
            top: -12px;
            border-top: none;
          }
        }
      }
    }
    .button-five,
    .button-4 {
      > button {
        &.active {
          background: linear-gradient(90deg, rgba(80,142,165,1) 0%, rgba(111,183,210,1) 100%, rgba(255,255,255,1) 0122024%);
          color: $black-blue;
          border: none;
          &::after {
            display: block;
            // border-bottom: 12px solid rgba(80,142,165,1);
            bottom: auto;
            top: -12px;
            border-top: none;
          }
        }
      }
    }
    .button-six,
    .button-5 {
      > button {
        &.active {
          background: linear-gradient(90deg, rgba(111,183,210,1) 0%, rgba(91,175,232,1) 100%, rgba(255,255,255,1) 0122024%);
          color: $black-blue;
          border: none;
          &::after {
            display: block;
            // border-bottom: 12px solid rgba(91,175,232,1);
            bottom: auto;
            top: -12px;
            border-top: none;
          }
        }
      }
    }

  .button {
    width: 30%;
    > button {
      background-color: transparent;
      width: 100%;
      position: relative;
      border: none;
      min-height: 40px;
      border-radius: 5px;
      color: $white;
      font-weight: 800;
      font-size: 16px;
      border: $green 3px solid;
      border-radius: 5px;
      transition: background-color 300ms ease, color 300ms ease;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: '';
        position: absolute;
        display: none;
        z-index: 1;
        top: 20px;
        right: 48%;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 5px solid #fff;
      }
    }
  }
}

.subpage-bottom-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  .internal-nav {
    padding: 0;
    // justify-content: space-around;
    .button-one,
    .button-two,
    .button-three,
    .button-four,
    .button-five,
    .button-0,
    .button-1,
    .button-2,
    .button-3,
    .button-4 {
      max-width: 15%;
      > button {
        .bottom {
          &.active {
            &:after {
              bottom: auto;
              top: -12px;
              border-top: none;
            }
          }
        }
      }
    }
  }
  &.resume {
    .internal-nav {
      padding: 0;
      // justify-content: space-around;
      .button-one,
      .button-two,
      .button-three,
      .button-four,
      .button-five,
      .button-0,
      .button-1,
      .button-2,
      .button-3,
      .button-4 {
        max-width: 20%;
        > button {
          .bottom {
            &.active {
              &:after {
                bottom: auto;
                top: -12px;
                border-top: none;
              }
            }
          }
        }
      }
    }
  }
}
