@import '@/scss/mixins';


.contact {
  text-align: center;
  .contact-btn {
    span {
      &.desktop {
        color: #fff;
      }
    }
  }
  .socials {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    // display: flex;
    // justify-content: space-between;
    .flex-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }
    .social {
      // width: 20%;
      .icon {
        width: 50px;
        height: 50px;
      }
    }
  }
  .contact-btn {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    position: relative;
    border: none;
    min-height: 40px;
    border-radius: 10px;
    // color: $white;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    border: $green 3px solid;
    transition: background-color 300ms ease, color 300ms ease;
    &:hover {
      cursor: pointer;
      color: $black-blue;
    }

    &::after {
      content: '';
      position: absolute;
      display: none;
      z-index: 1;
      top: 20px;
      right: 48%;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-bottom: 5px solid #fff;
    }
  }
  .content-header {
    padding: 0;
  }
  .flex-container {
    .contact-container {
      .contact-btn {
        color: #fff;
        .icon {
          width: 30px;
          height: 30px;
        }
      }
      &:nth-child(1) {
        .contact-btn {
          &:hover {margin: 0 auto 20px;
            &:first-of-type {
              border-color: rgba(11,155,120,1);
              background-color: rgba(11,155,120,1);
            }
          }
        }
      }
      &:nth-child(2) {
        .contact-btn {
          &:hover {
            &:first-of-type {
              border-color: rgba(36,143,43,1);
              background-color: rgba(36,143,43,1);
            }
          }
        }
      }
      &:nth-child(3) {
        .contact-btn {
          &:hover {
            &:first-of-type {
              border-color: rgba(80,142,165,1);
              background-color: rgba(80,142,165,1);
            }
          }
        }
      }
      .icon {
        fill: $green;
        width: 50px;
        height: 50px;
        margin: 0 auto 20px;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media screen and (max-width: 992px) {
  .contact {
    text-align: center;
    span {
      // color: #fff;
      // &.desktop {
      //   color: #fff !important;
      // }
      &.mobile {
        font-size: 22px;
      }
    }
    h2 {
      display: none;
    }
    p {
      display: none;
    }
    .socials {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      .flex-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
      }
      .social {
        .icon {
          width: 50px;
          height: 50px;
        }
      }
    }
    .flex-container {
      .contact-btn {
        margin-bottom: 20px;
        padding: 10px 0;
        color: #fff;
        &:hover {
          background: transparent !important;
        }
        span {
          margin-left: 20px;
          color: #fff;
          &.desktop {
            color: #fff;
          }
        }
        .icon {
          margin: 0;
          // margin-right: 10px;
          width: 20px;
          height: 20px;
        }
        &.email {
          border-color: rgba(11,155,120,1);
          .icon {
            fill: rgba(11,155,120,1);
          }
        }
        &.linkedin {
          border-color: rgba(36,143,43,1);
          .icon {
            fill: rgba(36,143,43,1);
          }
        }
        &.call {
          border-color: rgba(80,142,165,1);
          .icon {
            transform: rotate(20deg);
            fill: rgba(80,142,165,1);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    text-align: center;
    .socials {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      .flex-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
      }
      .social {
        .icon {
          width: 50px;
          height: 50px;
        }
      }
    }
    .flex-container {
      display: flex;
      justify-content: space-around;
      .contact-container {
        width: 25%;
        &:nth-child(1) {
          .contact-btn {
            &:hover {
              &:first-of-type {
                border-color: rgba(11,155,120,1);
                background-color: rgba(11,155,120,1);
              }
            }
          }
        }
        &:nth-child(2) {
          .contact-btn {
            &:hover {
              &:first-of-type {
                border-color: rgba(36,143,43,1);
                background-color: rgba(36,143,43,1);
              }
            }
          }
        }
        &:nth-child(3) {
          .contact-btn {
            &:hover {
              &:first-of-type {
                border-color: rgba(80,142,165,1);
                background-color: rgba(80,142,165,1);
              }
            }
          }
        }
        .icon {
          fill: $green;
          width: 50px;
          height: 50px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
