.home {
  top: 0;
  overflow: hidden;
  position: absolute;
  width: 99%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .content {
    width: 100%;
    .about {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
