$green: #62a88e;
$dark-blue:  #122024;
$black-blue: #0c1930;
$white: #F0FCFF;
$canary: #ede187;

$one: rgba(11,155,120,1);
$two: rgba(39,136,84,1);
$three: rgba(36,143,43,1);
$four: rgba(35,135,139,1);
$five: rgba(80,142,165,1);
$six: rgba(111,183,210,1);

@mixin green-btn {}
@mixin portfolio-btn {}
@mixin nav-btn {}
