@import 'subcontent.scss';
@import '@/scss/mixins';


.samnagerie,
.bvlog {
  padding: 30px 20px;
}

.portfolio {}

.samnagerie,
.bvlog,
.portfolio {
  position: relative;

  .sidebar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: opacity 300ms ease;
    &.hide {
      opacity: 0;
    }
    opacity: 1;
    align-self: center;
    text-align: left;
    .flex-col {
      background: rgba(98,168,142,.75);
      color: $black-blue;
      border: none;
      border-radius: 100em;
      height: 250px;
      width: 250px;
      h2 {

      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .inner-content {
    overflow: hidden;
    z-index: 100;
    height: 0;
    width: 0;
    opacity: 0;
    border-radius: 100em;
    transition: height 500ms ease, width 500ms ease, top 500ms ease, left 500ms ease, border-radius 500ms ease;


    h1, h2, h3 {
      color: $green;
    }
    .back-btn {
      position: absolute;
      right: 90px;
      top: 50px;
      z-index: 1;
      background: $green;
      border: none;
      padding: 12px 12px 10px;
      border-radius: 200em;
      transition: background 300ms ease;
      .icon {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background: $black-blue;
        cursor: pointer;
      }
    }

    &.rats {
      left: 10%;
      top: 50%;
    }
    &.reptiles {
      right: 10%;
      top: 50%;
    }
    &.homesteaders {
      right: 10%;
      top: 50%;
    }

    &.active {
      position: fixed;
      left: 0;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      border-radius: 20px;
      height: 80%;
      width: 80%;
      padding: 20px;
      background: #F0FCFF;
      transition: height 500ms ease, width 500ms ease, top 500ms ease, left 500ms ease, border-radius 500ms ease;

      > section {
        height: 100%;
      }

    }
  }
}
h1 {
  font-size: 40px;
}
.inner-h2 {
  font-family: 'Paris Dreamer';
}
.main-inner {
  position: relative;
  color: $black-blue;
  padding: 20px;
  width: 75%;
  border-radius: 20px;
  top: 0;
  .contain {
    width: 765px;
    margin: auto;
  }
}
