@import '@/scss/mixins';

.navigation {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  a {
    color: $white;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    &.router-link-exact-active {
      font-family: 'Paris Dreamer';
      &::after {
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      content: '';
      background-color: $green;
      width: 0;
      height: 2px;
      transition: width 300ms ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
