@import '@/scss/mixins';

#nav {
  position: relative;
  z-index: 100;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background: #0c1930;
  a {
    color: $white;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    .desktop {
      display: none;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 2px;
      transition: width 300ms ease;
    }
    &.one {
      &::after {
        background: linear-gradient(90deg, rgba(11,155,120,1) 0%, rgba(39,136,84,1) 100%, rgba(255,255,255,1) 0122024%);
      }
    }
    &.two {
      &::after {
        background: linear-gradient(90deg, rgba(39,136,84,1) 0%, rgba(36,143,43,1) 100%, rgba(255,255,255,1) 0122024%);
      }
    }
    &.three {
      &::after {
        background: linear-gradient(90deg, rgba(39,136,84,1) 0%, rgba(35,135,139,1) 100%, rgba(255,255,255,1) 0122024%);
      }
    }
    &.four {
      &::after {
        background: linear-gradient(90deg, rgba(35,135,139,1) 0%, rgba(80,142,165,1) 100%, rgba(255,255,255,1) 0122024%);
      }
    }
    &.five {
      &::after {
        background: linear-gradient(90deg, rgba(80,142,165,1) 0%, rgba(111,183,210,1) 100%, rgba(255,255,255,1) 0122024%);
      }
    }
    // &:hover {
    //   &.one {
    //     color: rgba(11,155,120,1);
    //   }
    //   &.two {
    //     color: rgba(39,136,84,1);
    //   }
    //   &.three {
    //     color: rgba(39,136,84,1);
    //   }
    //   &.four {
    //     color: rgba(35,135,139,1);
    //   }
    //   &.five {
    //     color: rgba(80,142,165,1);
    //   }
    //   &::after {
    //     width: 100%;
    //   }
    // }
  }

  // Small devices (landscape phones, less than 768px)
  @media screen and (min-width: 500px) {

  }

  // Medium devices (tablets, less than 992px)
  @media screen and (max-width: 992px) {
    height: 70px;
    padding: 0;
    a {
      color: $white;
      font-size: 12px;
      text-decoration: none;
      position: relative;
      padding: 0 5px;
      height: 60px;
      margin: 0 5px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      &.router-link-exact-active {
        color: $black-blue;
        .icon {
          fill: $black-blue;
        }
      }
      .icon {
        fill: $white;
        margin: 0 auto 5px;
        width: 20px;
        height: 20px;
      }
      .desktop {
        display: none;
      }
      &::after {
        display: none;
      }
      &.one {
        .icon {
          fill: rgba(11,155,120,1);
        }
        &.router-link-exact-active {
          background: rgba(11,155,120,1);
          .icon {
            fill: $black-blue;
          }
        }
      }
      &.two {
        .icon {
          fill: rgba(39,136,84,1);
        }
        &.router-link-exact-active {
          background: rgba(39,136,84,1);
          .icon {
            fill: $black-blue;
          }
        }
      }
      &.three {
        .icon {
          fill: rgba(36,143,43,1);
        }
        &.router-link-exact-active {
          background: rgba(36,143,43,1);
          .icon {
            fill: $black-blue;
          }
        }
      }
      &.four {
        .icon {
          fill: rgba(35,135,139,1);
        }
        &.router-link-exact-active {
          background: rgba(35,135,139,1);
          .icon {
            fill: $black-blue;
          }
        }
      }
      &.five {
        .icon {
          fill: rgba(80,142,165,1);
        }
        &.router-link-exact-active {
          background: rgba(80,142,165,1);
          .icon {
            fill: $black-blue;
          }
        }
      }
    }
  }

  // Medium devices (tablets, less than 992px)
  @media screen and (min-width: 992px) {

  }

  // Large devices (desktops, less than 1200px)
  @media screen and (min-width: 1200px) {
    position: absolute;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    width: 1200px;
    background: transparent;
    margin: auto;
    a {
      color: $white;
      font-size: 16px;
      text-decoration: none;
      position: relative;
      .desktop {
        display: block;
      }
      .mobile {
        display: none;
      }
      &.router-link-exact-active {
        font-family: 'Paris Dreamer';
        &::after {
          width: 100%;
          transition: width 300ms ease;
        }
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        transition: width 300ms ease;
      }
      &:hover {
        &.one {
          color: rgba(11,155,120,1);
          &::after {
            background: linear-gradient(90deg, rgba(11,155,120,1) 0%, rgba(39,136,84,1) 100%, rgba(255,255,255,1) 0122024%);
          }
        }
        &.two {
          color: rgba(39,136,84,1);
          &::after {
            background: linear-gradient(90deg, rgba(39,136,84,1) 0%, rgba(36,143,43,1) 100%, rgba(255,255,255,1) 0122024%);
          }
        }
        &.three {
          color: rgba(39,136,84,1);
          &::after {
            background: linear-gradient(90deg, rgba(39,136,84,1) 0%, rgba(35,135,139,1) 100%, rgba(255,255,255,1) 0122024%);
          }
        }
        &.four {
          color: rgba(35,135,139,1);
          &::after {
            background: linear-gradient(90deg, rgba(35,135,139,1) 0%, rgba(80,142,165,1) 100%, rgba(255,255,255,1) 0122024%);
          }
        }
        &.five {
          color: rgba(80,142,165,1);
          &::after {
            background: linear-gradient(90deg, rgba(80,142,165,1) 0%, rgba(111,183,210,1) 100%, rgba(255,255,255,1) 0122024%);
          }
        }
        &::after {
          width: 100%;
          transition: width 300ms ease;
        }
      }
      &:hover {
        &.one {
          color: rgba(11,155,120,1);
        }
        &.two {
          color: rgba(39,136,84,1);
        }
        &.three {
          color: rgba(39,136,84,1);
        }
        &.four {
          color: rgba(35,135,139,1);
        }
        &.five {
          color: rgba(80,142,165,1);
        }
        &::after {
          width: 100%;
        }
      }
    }
  }

  // X-Large devices (large desktops, less than 1400px)
  @media screen and (min-width: 1400px) {
    width: 1300px;
    a {
      font-size: 18px;
    }
  }

  // X-Large devices (large desktops, less than 1400px)
  @media screen and (min-width: 1800px) {
    height: 100px;
    width: 1700px;
    // max-width: 1700px;
    a {
      font-size: 22px;
    }
  }
}
