@import '@/scss/mixins';

 h1 {
   color: $white;
 }

 .back-btn {
   position: absolute;
   left: 90px;
   top: 230px;
   z-index: 1;
   background: $green;
   border: none;
   padding: 12px 12px 10px;
   border-radius: 200em;
   .icon {
     position: relative;
     left: -1px;
     width: 20px;
     height: 20px;
     color: #fff;
   }
   &:hover {
     cursor: pointer;
   }
 }
 .cancel-btn {
   position: absolute;
   right: 50px;
   top: 50px;
   z-index: 1;
   background: $green;
   border: none;
   padding: 12px 12px 10px;
   border-radius: 200em;
   .icon {
     position: relative;
     width: 20px;
     height: 20px;
     color: #fff;
   }
   &:hover {
     cursor: pointer;
   }
 }

 .selection-nav {
   width: 100%;
   // display: flex;
   // justify-content: space-between;
   .flex-col {
     background-color: transparent;
     border: none;
     color: $white;
     width: 25%;
     // transition: transform 300ms ease;
     h2 {
      transition: font-family 300ms ease, transform 300ms ease;
     }
     .icon {
       width: 30px;
       height: 30px;
       // margin-bottom: 10px;
       transition: transform 300ms ease;
     }

     &:hover {
       cursor: pointer;
       h2 {
         transform: scale(1.5);
         font-family: 'Paris Dreamer';
       }
       .icon {
         transform: scale(1.5);
       }
     }
   }
 }


  .ux-portfolio {
    width: 100%;
    position: relative;

    .portfolio-card {
      position: relative;
      border-radius: 5px;
      background-color: transparent;
      border: none;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        opacity: .4;
        z-index: 1;
        transition: opacity ease 300ms, border ease 300ms;
      }

      .paris-dreamer {
        position: relative;
        z-index: 2;
        font-size: 30px;
        text-transform: capitalize;
        color: $white;
        text-shadow: 5px 5px 20px $black-blue;
      }

      &:hover {
        cursor: pointer;
        .paris-dreamer {
          font-size: 24px;
          font-family: 'Paris Dreamer';
        }
      }
    }
  }

  .case-study-content {
    position: relative;
    margin: auto;
    width: 100%;
    p {
      // margin: 0;
    }
    .study-each {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      .study-media {
        position: relative;
        .nomader-one {
        }
      }
      .study-info {
        .inner {
          overflow-y: scroll;
        }
      }
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media screen and (max-width: 576px) {

  }

  // Small devices (landscape phones, less than 768px)
  @media screen and (min-width: 768px) {

  }

  // Medium devices (tablets, less than 992px)
  @media screen and (max-width: 992px) {
    .selection-nav {
      width: 100%;
      // display: block;
      .flex-col {
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
        border: 3px solid $green;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        .icon {
          margin-right: 20px;
        }
        h2 {
          margin: 0;
          font-size: 24px;
          display: inline;
        }
        &.ux {
          border-color: #0c9a77;
        }
        &.design {
          border-color: #248e2d;
        }
        &.illustration {
          border-color: #29888f;
        }
      }
    }
  }

  // Large devices (desktops, less than 1200px)
  @media screen and (min-width: 1200px) {
    .ux-portfolio {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding: 70px 0 50px;
      top: -70px;
      position: relative;
      .portfolio-card {
        bottom: 50px;
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .selection-nav {
      display: flex;
      justify-content: space-between;
      .flex-col {
        h2 {
          font-size: 18px;
        }
        .icon {
          width: 50px;
          height: 50px;
          margin-bottom: 30px;
        }
      }
    }

    .cancel-btn {
      right: 90px;
      top: 150px;
      padding: 12px 12px 10px;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .case-study-content {
      width: 1100px;
      .study-each {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        .study-media {
          position: relative;
          width: 30%;
          .nomader-one {
            top: -20px;
            left: -150px;
            position: absolute;
            width: 700px;
            height: auto;
          }
        }
        .study-info {
          .inner {
            overflow-y: scroll;
          }
        }
      }
      h2 {
        font-size: 20px;
        margin-top: 0;
      }
      .nomader-three {
        position: absolute;
        width: 300px;
        top: -50px;
        right: 0;
        &.sketch {
          right: -50px;
        }
        &.sketchflow {
          right: -50px;
        }
        &.wireframes {
          right: 0;
          width: 300px;
          top: 135px;
          left: 0;
          margin: auto;
        }
      }
      .nomader-four {
        position: absolute;
        width: 400px;
        top: 50px;
        right: 50px;
      }
      .study-info {
        .inner {
          position: relative;
          z-index: 1;
        }
        &.name-info {
          .inner {
            margin-left: 150px;
            padding-right: 15px;
            max-height: none;
            max-width: 500px;
          }
        }
        &.method-info {
          .inner {
            margin-left: 0;
            // padding-right: 15px;
            // max-height: 300px;
            // max-width: 500px;
          }
        }
        &.design-info,
        &.method-info,
        &.research-info {
          display: flex;
          justify-content: space-between;
          position: relative;
          top: 0;
          width: 100%;
          margin: auto;
          min-height: 250px;
          .design-buttons,
          .method-buttons,
          .research-buttons {
            width: 20%;
            button {
              width: 100%;
              display: block;
            }
          }
          .design-lower,
          .method-lower,
          .research-lower {
            width: 70%;
            .flex-container {
              display: flex;
              justify-content: space-between;
            }
            .info-card {
              max-width: 600px;
              padding: 0 15px 15px;
              color: $white;
              border-radius: 10px;
              h2 {
                em {
                  // color: $white;
                  // font-family: 'ParisDreamer-Regular';
                }
              }
              &.active {
                &.one {
                  h2, h3 {
                    color: rgba(11,155,120,1);
                  }
                  border-radius: 10px 10px 10px 0;
                }
                &.two {
                  h2, h3 {
                    color: rgba(39,136,84,1);
                  }
                  border-radius: 10px;
                }
                &.three {
                  h2, h3 {
                    color: rgba(35,135,139,1);
                  }
                  border-radius: 10px;
                }
                &.four {
                  h2, h3 {
                    color: rgba(80,142,165,1);
                  }
                  border-radius: 10px 10px 0 10px;
                }
              }
            }
          }
          .method-lower {
            width: 75%;
            .info-card {
              max-width: 550px;
            }
          }
          .inner {
            display: block;
            width: 45%;
            max-width: none;
            &.card {
              width: 100%;
              border-radius: 0 0 10px 10px;
              padding: 10px;
              font-weight: 600;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              overflow: visible;

              button {
                color: $white;
                background: transparent;
                border-radius: 100em;
                border: none;
                height: 50px;
                cursor: pointer;
              }
              &.one {
                button {
                  border: 3px solid rgba(11,155,120,.7);
                }
              }
              &.two {
                button {
                  border: 3px solid rgba(39,136,84,.7);
                }
              }
              &.three {
                button {
                  border: 3px solid rgba(35,135,139,.7);
                }
              }
              &.four {
                button {
                  border: 3px solid rgba(80,142,165,.7);
                }
              }
              &.active {
                button {
                  position: relative;
                  &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid $white;
                    bottom: auto;
                    right: -15px;
                    top: 20px;
                  }
                }
                &.one {
                  button {
                    border: none;
                    background: rgba(11,155,120,.7);
                  }
                }
                &.two {
                  button {
                    border: none;
                    background: rgba(39,136,84,.7);
                  }
                }
                &.three {
                  button {
                    border: none;
                    background: rgba(35,135,139,.7);
                  }
                }
                &.four {
                  button {
                    border: none;
                    background: rgba(80,142,165,.7);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // X-Large devices (large desktops, less than 1400px)
  @media screen and (min-width: 1400px) {
    .selection-nav {
      .flex-col {
        h2 {
          font-size: 24px;
        }
        .icon {
          width: 70px;
          height: 70px;
          margin-bottom: 40px;
        }
      }
    }
  }

  // X-Large devices (large desktops, less than 1400px)
  @media screen and (min-width: 1800px) {
    .selection-nav {
      .flex-col {
        h2 {
          font-size: 32px;
        }
        .icon {
          width: 100px;
          height: 100px;
          margin-bottom: 40px;
        }
      }
    }

    .cancel-btn {
      right: 90px;
      top: 230px;
      padding: 12px 12px 10px;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .case-study-content {
      width: 1799px;
      .study-media {
        .nomader-one {
          top: -200px;
          position: absolute;
          width: 1000px;
          height: auto;
        }
      }
      .nomader-three {
        position: absolute;
        width: 300px;
        top: -50px;
        right: 50px;
      }
      .nomader-four {
        position: absolute;
        width: 400px;
        top: 50px;
        // right: 50px;
      }
      .study-info {
        .inner {
          position: relative;
          z-index: 1;
        }
        &.name-info {
          .inner {
            padding-right: 15px;
            max-height: 500px;
            max-width: 600px;
          }
        }
        &.design-info,
        &.method-info,
        &.research-info {
          margin: auto;
          max-width: 1000px;
          top: -50px;
          .research-buttons {

          }
          .design-lower,
          .method-lower,
          .research-lower {
            h2 {
              // color: rgba(11,155,120,1);
            }
          }
          .flex-container {

          }
          .inner {
            max-width: none;
            &.card {
              width: 20%;
              height: auto;
              min-height: 100px;
              border-radius: 0 0 10px 10px;
              padding: 0 10px 10px;
              &.one {
                background: rgba(11,155,120,1);
              }
              &.two {
                background: rgba(39,136,84,1);
              }
              &.three {
                background: rgba(39,136,84,1);
              }
              &.four {
                background: rgba(35,135,139,1);
              }
            }
          }
        }
      }
    }
  }
