.samnagerie {
  position: relative;
  padding: 0 20px;

  .sidebar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: opacity 300ms ease;
    &.hide {
      opacity: 0;
    }
    opacity: 1;
    align-self: center;
    text-align: left;
    .flex-col {
      background: rgba(98,168,142,.75);
      color: #F0FCFF;
      border: none;
      border-radius: 100em;
      height: 250px;
      width: 250px;
      h2 {

      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .samb-content {
    .activeMain {

    }
    .active {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -25%;
      height: 170%;
      width: 90%;
      padding: 20px;
      border-radius: 20px;
      background: rgba(98,168,142, 1);
    }
  }
}
