.samnagerie {
  position: relative;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // padding: 0 20px;
  .sidebar {
    transition: opacity 300ms ease;
    &.hide {
      opacity: 0;
    }
    opacity: 1;
    align-self: center;
    text-align: left;
    width: 20%;
    .flex-col {
      display: block;
      width: 100%;
      padding: 15px 10px;
      border-radius: 20px;
      background: rgba(98,168,142,.75);
      margin-bottom: 20px;
      color: #F0FCFF;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .samb-content {
    // width: 80%;

    .activeMain {

    }

    .active {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -25%;
      height: 150%;
      width: 90%;
      padding: 20px;
      border-radius: 20px;
      background: rgba(98,168,142, 1);
    }

    h1 {
      // text-align: center;
    }
  }
}
