@import 'type.scss';
@import 'mixins.scss';
@import 'subpage.scss';


h1, h2, h3 {
  font-family: 'Malina-Regular';
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  background-size: 400% 400%;
  background: rgb(18,32,36);
  background: linear-gradient(140deg, rgba(18,32,36,1) 0%, rgba(12,25,48,1) 100%);
  font-family: 'Mulish', sans-serif;
  letter-spacing: 0.03em;
  color: #F0FCFF;
  position: relative;

  .main-content {
    &::after {
      content: '';
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      transition: width 300ms ease, height 300ms ease;
    }
  }
  header {
    padding-bottom: 200px;
  }
  .subpage {
    // overflow: hidden;
    h1 {
      text-align: center;
    }
  }

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
