@import '@/scss/mixins';
@import 'subcontent.scss';

.subpage {
  .samnagerie,
  .bvlog {
    position: relative;
    padding: 0 20px;

    .sidebar {
      display: flex;
      justify-content: space-around;
      width: 100%;
      transition: opacity 300ms ease;
      opacity: 1;
      align-self: center;
      text-align: left;
      &.hide {
        opacity: 0;
      }
      .flex-col {
        background: rgba(98,168,142,.75);
        color: $black-blue;
        border: none;
        // border-radius: 100em;
        // height: 250px;
        // width: 250px;
        h2 {

        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media screen and (max-width: 576px) {

  }

  // Small devices (landscape phones, less than 768px)
  @media screen and (min-width: 768px) {

  }

  // Medium devices (tablets, less than 992px)
  @media screen and (min-width: 992px) {

  }

  // Large devices (desktops, less than 1200px)
  @media screen and (min-width: 1200px) {
    .sidebar {
      .flex-col {
        color: $black-blue;
        height: 200px;
        width: 200px;
      }
    }
  }

  // X-Large devices (large desktops, less than 1400px)
  @media screen and (min-width: 1400px) {

  }

  // X-Large devices (large desktops, less than 1400px)
  @media screen and (min-width: 1800px) {
    .sidebar {
      .flex-col {
        color: $black-blue;
        height: 250px;
        width: 250px;
      }
    }
  }
}
